@import 'reset.css';
@import 'layouts.css';
@import 'modules.css';
@import 'themes.css';

 /* .................................................... tags */
* {
	list-style-type: none;
  box-sizing: border-box;
}

body {
  color:#fff;
  font-family: sans-serif;
  background-color: #243b55;
  text-align: center;
  width: 100%;
}

a{
    color:#fff;
    text-decoration: none;
}
a:hover{
  color:#17223b;
  text-decoration: none;
}
.header{
  text-align: center;
}
/* .................................................... headings  */
h1,h2,h3,h4,h5,h6{ 
  font-weight: 400;
}

h1{
  font-size: 2.5em;
  font-weight: 600;
}
h2{
  font-size: 1.8em;
}

h3{
  font-size: 1.6em;
}
h4{
  font-size: 1.4em;
}
h5{
  font-size: 1.1em;
}

p{
  font-size: 17px;
  line-height: 1.5;
}

.navbar-expand-lg {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #1E1F25;
}

/* .................................................. navbar */
nav ul{
	display: flex;
	margin: auto;
	justify-content: space-between;
	text-align: center;
}
nav ul li {
	padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
	min-width: 80px;
	margin: auto;
}

.bg-dark {
  background-color: rgb(30, 32, 39) !important;
}

/*  .................. ............................ footer */
footer{
  padding:  1% 0 ;
  text-align: center;
  word-spacing: 3px;
}
footer p {
  font-size: 1.2em;
  font-weight: 500;
  background-color: rgb(30, 32, 39);
}

 /* mobile view styles .................................................  */
@media( max-width:700px){

  h1{
    font-size: 1.5em;
  }
  h2{
    font-size: 1.3em;
  }
  h3{
    font-size: 1.2em;
  }
  h4{
    font-size: 1.1em;
  }
}
  h5{
    font-size: 1em;
  }

  h6{
    font-size: 0.9em;
  }

  /* DetailsSong********************** */

.cards1{

  border: 1px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
}

.card-summary11{
  height: 70px;
}
.cards1{
  width: 111%;
  height: 100%;
  border: none;
}
#showBook {
  margin-left: 100px;
    margin-top: 4px;
    width: 49%;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
  color: #000;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  background-color: rgb(170, 108, 146);
  box-shadow: 0px 15px 20px rgba(50, 41, 126, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.container1 {

  width: 40%;
  margin-right: 10px;
  display: inline-block;

}
.card1 .card-summary1 {
  height: 250px;
  /* padding: 5% 5% 3% 5%; */
}

.card1 .card-title1 h3 {

  height: 32px;
}
@media (min-width: 700px){
.card1 {
    width: 100%;
    margin-right: 0; 
     margin-bottom: 0;
     margin: 0; 
}} 





.addd {
    margin-left: 60px;
    margin-top: 4px;
    width: 75%;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: #000;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    background-color: rgb(170, 108, 146);
    box-shadow: 0px 15px 20px rgb(50 41 126 / 40%);
    color: #fff;
    transform: translateY(-7px);}