@import 'reset.css';
@import 'layouts.css';
@import 'modules.css';
@import 'themes.css';

 /* .................................................... tags */
* {
	list-style-type: none;
  box-sizing: border-box;
}

body {
  color:#fff;
  font-family: sans-serif;
  background: linear-gradient(#1E1F25, #243b55);
  text-align: center;
  width: 100%;
}

a{
    color:#fff;
    text-decoration: none;
}
a:hover{
  color:#17223b;
  text-decoration: none;
}
.header{
  text-align: center;
}
/* .................................................... headings  */
h1,h2,h3,h4,h5,h6{ 
  font-weight: 400;
}

h1{
  font-size: 2.5em;
  font-weight: 600;
}
h2{
  font-size: 1.8em;
}

h3{
  font-size: 1.6em;
}
h4{
  font-size: 1.4em;
}
h5{
  font-size: 1.1em;
}

p{
  font-size: 17px;
  line-height: 1.5;
}

/* .................................................. navbar */
nav ul{
	display: flex;
	margin: auto;
	justify-content: space-between;
	text-align: center;
}
nav ul li {
	padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
	min-width: 80px;
	margin: auto;
}

/*  .................. ............................ footer */
footer{
  padding:  1% 0 ;
  text-align: center;
  word-spacing: 3px;
}
footer p {
  font-size: 1.2em;
  font-weight: 500;
}
/* ............................ color palette */
 .color1{
   background-color: #17223b;
 }
 .color1{
  background-color: #263859;
}
.color1{
  background-color: #6b778d;
}
.color1{
  background-color: #ff6768;
}
/* ................................................... */

 /* mobile view styles .................................................  */
@media( max-width:700px){

  h1{
    font-size: 1.5em;
  }
  h2{
    font-size: 1.3em;
  }
  h3{
    font-size: 1.2em;
  }
  h4{
    font-size: 1.1em;
  }
}
  h5{
    font-size: 1em;
  }

  h6{
    font-size: 0.9em;
  }
