<%- include('../layout/head')%>
    <%- include('../layout/navbar') %>

        <body>
            <!-- <header class="aboutUs-page-header">
                <h1>Meet our team</h1>
            </header>
            <main>
                <section id="about us">
                    <p>
                        <span id='who-we-are'> We are code pirates.</span> We believe music communicate to souls and
                        each
                        one of us enjoy different taste of music and we all want to know more details about music and
                        artists we like, at
                        some point. And the process gets overwhelming sometimes.
                    </p>
                    <p>
                        Because of that, we decided to create Music Library App. Where each user can search for songs by
                        title, artist or lyrics (in case you don't have artist name or song name). And get to know your
                        singer coming events.
                    </p>
                    <p>
                        The user can find songs interest them and save it in his/her library. And they can see full
                        details
                        in our application. Also they can edit song details the way they like.
                        Also the User can search for singer's event and they will be able to see details about that
                        event.
                        And they will be redirected to booking page or they can keep it for later in case they are not
                        sure.
                    </p>
                    <p>
                        We hope that you trust us when it come to music. And we know you are going to enjoy in our
                        application.
                    </p>
                </section>
                <section id="team-members">
                    <h2>Our Team</h2>
                    <article>
                        <img src="" alt="Yazan A. Sneneh">
                        <h3>Yazan A. Sneneh</h3>
                        <h4>Software Developer</h4>
                        <p>I am a software developer I am passionate programer.</p>
                        <div>
                            <a href="https://www.linkedin.com/in/yazan-a-sneneh/">linkedin</a>
                            <a href="https://github.com/YazanSneneh">Github</a>
                        </div>
                    </article>

                    <article>
                        <img src="" alt="Rama Yaser">
                        <h3>Rama Yaser</h3>
                        <h4>Software Developer</h4>
                        <p>Rama Yaser description</p>
                        <div>
                            <a href="">linkedin</a>
                            <a href="">Github</a>
                        </div>
                    </article>

                    <article>
                        <img src="" alt="Yahya Omari">
                        <h3>Yahya Omari</h3>
                        <h4>Software Developer</h4>
                        <p>Yahya Omari.</p>
                        <div>
                            <a href="">linkedin</a>
                            <a href="">Github</a>
                        </div>
                    </article>

                    <article>
                        <img src="" alt="Khalid Zyadeh">
                        <h3>Khalid Zyadeh</h3>
                        <h4>Software Developer</h4>
                        <p> Khalid Zyadeh.</p>
                        <div>
                            <a href="">linkedin</a>
                            <a href="">Github</a>
                        </div>
                    </article>

                    <article>
                        <img src="" alt="Samer Al Najjar">
                        <h3>Samer Al Najjar</h3>
                        <h4>Software Developer</h4>
                        <p>Samer Al Najjar</p>
                        <div>
                            <a href="">linkedin</a>
                            <a href="">Github</a>
                        </div>
                    </article>
                </section>
            </main> -->

            <div>
                <h1>Our Team</h1>
            </div>

            <div class="cards">

                <div class="card">
                    <div class="card__image-holder">
                        <img class="card__image" src="https://ca.slack-edge.com/TNGRRLUMA-U01GNV237HB-1d10b0a2e113-512" alt="wave" />
                    </div>
                    <div class="card-title">
                        <a href="#" class="toggle-info btn">
                            <span class="left"></span>
                            <span class="right"></span>
                        </a>
                        <h2>
                            Khalid Ziadeh
                            <small>Management Information Systems</small>
                        </h2>
                    </div>
                    <div class="card-flap flap1">
                        <div class="card-description">
                            I am 24 years old, My goal to become the best programmer in Jordan.
                        </div>
                        <div class="card-flap flap2">
                            <div class="card-actions">
                                <!-- <a href="https://github.com/khaedzi" class="btn">Github</a>
                                <a href="#" class="btn">linkedin</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__image-holder">
                        <img class="card__image" src="https://ca.slack-edge.com/TNGRRLUMA-U01GS2TNDGS-e4af534bc8de-512" alt="beach" />
                    </div>
                    <div class="card-title">
                        <a href="#" class="toggle-info btn">
                            <span class="left"></span>
                            <span class="right"></span>
                        </a>
                        <h2>
                            Yazan Sneneh
                            <small>Software Engineer</small>
                        </h2>
                    </div>
                    <div class="card-flap flap1">
                        <div class="card-description">
                            Currently I am a software developer trainee at ASAC, I enjoy troubleshooting and creative work.
                        </div>
                        <div class="card-flap flap2">
                            <div class="card-actions">
                                <!-- <a href="https://github.com/YazanSneneh" class="btn">Github</a>
                                <a href="https://www.linkedin.com/in/yazan-a-sneneh/" class="btn">linkedin</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__image-holder">
                        <img class="card__image" src="https://ca.slack-edge.com/TNGRRLUMA-U01GS2TLVEE-d83efc8b5f6f-512" alt="mountain" />
                    </div>
                    <div class="card-title">
                        <a href="#" class="toggle-info btn">
                            <span class="left"></span>
                            <span class="right"></span>
                        </a>
                        <h2>
                            Samer Alnajjar
                            <small>Civil Engineer</small>
                        </h2>
                    </div>
                    <div class="card-flap flap1">
                        <div class="card-description">
                            I have a great passion on technology and programming, and I am looking forward to becoming a software engineer to solve problems, and create amazing stuff.
                        </div>
                        <div class="card-flap flap2">
                            <div class="card-actions">
                                <!-- <a href="https://github.com/Samer-Alnajjar" class="btn">Github</a>
                                <a href="https://www.linkedin.com/in/samer-alnajjar/" class="btn">linkedin</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__image-holder">
                        <img class="card__image" src="https://ca.slack-edge.com/TNGRRLUMA-U01GS8VTM99-77e00fa9a483-512" alt="field" />
                    </div>
                    <div class="card-title">
                        <a href="#" class="toggle-info btn">
                            <span class="left"></span>
                            <span class="right"></span>
                        </a>
                        <h2>
                            Yahya Omari
                            <small>Software Development</small>
                        </h2>
                    </div>
                    <div class="card-flap flap1">
                        <div class="card-description">
                            I am 22 years old, I graduated from University of Jordan Business Information Technology.
                        </div>
                        <div class="card-flap flap2">
                            <div class="card-actions">
                                <!-- <a href="https://github.com/YahyaOmari" class="btn">Github</a>
                                <a href="#" class="btn">linkedin</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__image-holder">
                        <img class="card__image" src="https://ca.slack-edge.com/TNGRRLUMA-U01GP082ZK7-cf6547fc0685-512" alt="water" />
                    </div>
                    <div class="card-title">
                        <a href="#" class="toggle-info btn">
                            <span class="left"></span>
                            <span class="right"></span>
                        </a>
                        <h2>
                            Rama Yaser
                            <small>Chemical Engineer</small>
                        </h2>
                    </div>
                    <div class="card-flap flap1">
                        <div class="card-description">
                            I am 22 years old, I love music, movies, reading, and soon to become a software engineer. 
                        </div>
                        <div class="card-flap flap2">
                            <div class="card-actions">
                                <!-- <a href="https://github.com/ramayaser66" class="btn">Github</a>
                                <a href="https://www.linkedin.com/in/rama-odetallah-639318a8/" class="btn">linkedin</a> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

            <script>
                $(document).ready(function () {
                    var zindex = 10;

                    $("div.card").click(function (e) {
                        e.preventDefault();

                        var isShowing = false;

                        if ($(this).hasClass("show")) {
                            isShowing = true
                        }

                        if ($("div.cards").hasClass("showing")) {
                            // a card is already in view
                            $("div.card.show")
                                .removeClass("show");

                            if (isShowing) {
                                // this card was showing - reset the grid
                                $("div.cards")
                                    .removeClass("showing");
                            } else {
                                // this card isn't showing - get in with it
                                $(this)
                                    .css({ zIndex: zindex })
                                    .addClass("show");

                            }

                            zindex++;

                        } else {
                            // no cards in view
                            $("div.cards")
                                .addClass("showing");
                            $(this)
                                .css({ zIndex: zindex })
                                .addClass("show");

                            zindex++;
                        }

                    });
                });
            </script>
        </body>

        </html>