<%- include('../layout/head')%>
    <%- include('../layout/navbar')%>
    
        <header class="header">
                <div class="layout-container" id="about-us-header">
                    <h1>About Us</h1>
                </div>
            </header>
            <section id="about us">

                    <div class="layout-container" id="about-us-container">
                        <h3>Who we are</h3>
                        <p class="about-us">
                            <span id='who-we-are'> We are API pirates.</span> We believe music communicate to souls and
                            each
                            one of us enjoy different taste of music and we all want to know more details about music
                            and
                            artists we like, at
                            some point. sometimes The process becomes overwhelming.
                        </p>
                        <h3>Solution we came up with</h3>

                        <p class="about-us">
                            Because of that , we decided to create Music Library App. Where the user can search for
                            songs by
                            title, artist or lyrics (in case you don't have artist name or song name). Also you get to know
                            your
                            singer coming events.
                        </p>

                        <h3>What you as a user except to find</h3>

                        <p class="about-us">
                            The user can find songs that interest them and save them in his/her library. And they can see full
                            details in our application. Also they can edit song details the way they like.
                            And the User can search for singer's event and they will be able to see details about that
                            event.
                            And they will be redirected to the booking page or they can keep it for later in case they are
                            not
                            sure.
                        </p>
                        <p class="about-us last">
                            We hope that you trust us when it comes to music. And we know you are going to enjoy in our
                            application. <i class="fas fa-headphones-alt"></i>
                        </p>
                    </div>
                </section>

            <div>
                <h1>Our Team</h1>
            </div>
            
            <div class="cards-samer">

                <div class="card-samer">
                    <div class="card__image-holder-samer">
                        <img class="card__image-samer" src="https://ca.slack-edge.com/TNGRRLUMA-U01GNV237HB-1d10b0a2e113-512"
                            alt="wave" />
                    </div>
                    <div class="card-title-samer">
                        <a href="#" class="toggle-info-samer btn">
                            <span class="left"></span>
                            <span class="right"></span>
                        </a>
                        <h2>
                            Khalid Ziadeh
                            <small>Management Information Systems</small>
                        </h2>
                    </div>
                    <div class="card-flap-samer flap1">
                        <div class="card-description-samer">
                            I am 24 years old, My goal to become the best programmer in Jordan.
                        </div>
                        <div class="card-flap-samer flap2">
                            <div class="card-actions-samer">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-samer">
                    <div class="card__image-holder-samer">
                        <img class="card__image-samer" src="https://ca.slack-edge.com/TNGRRLUMA-U01GS2TNDGS-e4af534bc8de-512"
                            alt="beach" />
                    </div>
                    <div class="card-title-samer">
                        <a href="#" class="toggle-info-samer btn">
                            <span class="left"></span>
                            <span class="right"></span>
                        </a>
                        <h2>
                            Yazan Sneneh
                            <small>Software Engineer</small>
                        </h2>
                    </div>
                    <div class="card-flap-samer flap1">
                        <div class="card-description-samer">
                            Currently I am a software developer trainee at ASAC, I enjoy troubleshooting and creative
                            work.
                        </div>
                        <div class="card-flap-samer flap2">
                            <div class="card-actions-samer">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-samer">
                    <div class="card__image-holder-samer">
                        <img class="card__image-samer" src="https://ca.slack-edge.com/TNGRRLUMA-U01GS2TLVEE-d83efc8b5f6f-512"
                            alt="mountain" />
                    </div>
                    <div class="card-title-samer">
                        <a href="#" class="toggle-info-samer btn">
                            <span class="left"></span>
                            <span class="right"></span>
                        </a>
                        <h2>
                            Samer Alnajjar
                            <small>Civil Engineer</small>
                        </h2>
                    </div>
                    <div class="card-flap-samer flap1">
                        <div class="card-description-samer">
                            I have a great passion on technology and programming, and I am looking forward to becoming a
                            software engineer to solve problems, and create amazing stuff.
                        </div>
                        <div class="card-flap-samer flap2">
                            <div class="card-actions-samer">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-samer">
                    <div class="card__image-holder-samer">
                        <img class="card__image-samer" src="https://ca.slack-edge.com/TNGRRLUMA-U01GS8VTM99-77e00fa9a483-512"
                            alt="field" />
                    </div>
                    <div class="card-title-samer">
                        <a href="#" class="toggle-info-samer btn">
                            <span class="left"></span>
                            <span class="right"></span>
                        </a>
                        <h2>
                            Yahya Omari
                            <small>Software Development</small>
                        </h2>
                    </div>
                    <div class="card-flap-samer flap1">
                        <div class="card-description-samer">
                            I am 22 years old, I graduated from University of Jordan Business Information Technology.
                        </div>
                        <div class="card-flap-samer flap2">
                            <div class="card-actions-samer">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-samer">
                    <div class="card__image-holder-samer">
                        <img class="card__image-samer" src="https://ca.slack-edge.com/TNGRRLUMA-U01GP082ZK7-cf6547fc0685-512"
                            alt="water" />
                    </div>
                    <div class="card-title-samer">
                        <a href="#" class="toggle-info-samer btn">
                            <span class="left"></span>
                            <span class="right"></span>
                        </a>
                        <h2>
                            Rama Yaser
                            <small>Chemical Engineer</small>
                        </h2>
                    </div>
                    <div class="card-flap-samer flap1">
                        <div class="card-description-samer">
                            I am 22 years old, I love music, movies, reading, and soon to become a software engineer.
                        </div>
                        <div class="card-flap-samer flap2">
                            <div class="card-actions-samer">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
            <%- include('../layout/footer') %>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

            <script>
                $(document).ready(function () {
                    var zindex = 10;

                    $("div.card-samer").click(function (e) {
                        e.preventDefault();

                        var isShowing = false;

                        if ($(this).hasClass("show")) {
                            isShowing = true
                        }

                        if ($("div.cards-samer").hasClass("showing")) {
                            // a card is already in view
                            $("div.card-samer.show")
                                .removeClass("show");

                            if (isShowing) {
                                // this card was showing - reset the grid
                                $("div.cards-samer")
                                    .removeClass("showing");
                            } else {
                                // this card isn't showing - get in with it
                                $(this)
                                    .css({ zIndex: zindex })
                                    .addClass("show");

                            }

                            zindex++;

                        } else {
                            // no cards in view
                            $("div.cards-samer")
                                .addClass("showing");
                            $(this)
                                .css({ zIndex: zindex })
                                .addClass("show");

                            zindex++;
                        }

                    });
                });
            </script>
        </body>

        </html>