<%- include('../layout/head')%>
    <%- include('../layout/navbar') %>

        <body>
            <header>
                <h1>About Us</h1>
            </header>
            <main>
                <section id="about us">
                    <p>
                        <span id='who-we-are'> We are code pirates.</span> We believe music communicate to souls and
                        each
                        one of us enjoy different taste of music and we all want to know more details about music and
                        artists we like, at
                        some point. And the process gets overwhelming sometimes.
                    </p>
                    <p>
                        Because of that, we decided to create Music Library App. Where each user can search for songs by
                        title, artist or lyrics (in case you don't have artist name or song name). And get to know your
                        singer coming events.
                    </p>
                    <p>
                        The user can find songs interest them and save it in his/her library. And they can see full
                        details
                        in our application. Also they can edit song details the way they like.
                        Also the User can search for singer's event and they will be able to see details about that
                        event.
                        And they will be redirected to booking page or they can keep it for later in case they are not
                        sure.
                    </p>
                    <p>
                        We hope that you trust us when it come to music. And we know you are going to enjoy in our
                        application.
                    </p>
                </section>
                <section id="team-members">
                    <h2>Our Team</h2>
                    <article>
                        <img src="" alt="Yazan A. Sneneh">
                        <h3>Yazan A. Sneneh</h3>
                        <h4>Software Developer</h4>
                        <p>I am a software developer I am passionate programer.</p>
                        <div>
                            <a href="https://www.linkedin.com/in/yazan-a-sneneh/">linkedin</a>
                            <a href="https://github.com/YazanSneneh">Github</a>
                        </div>
                    </article>

                    <article>
                        <img src="" alt="Rama Yaser">
                        <h3>Rama Yaser</h3>
                        <h4>Software Developer</h4>
                        <p>Rama Yaser description</p>
                        <div>
                            <a href="">linkedin</a>
                            <a href="">Github</a>
                        </div>
                    </article>

                    <article>
                        <img src="" alt="Yahya Omari">
                        <h3>Yahya Omari</h3>
                        <h4>Software Developer</h4>
                        <p>Yahya Omari.</p>
                        <div>
                            <a href="">linkedin</a>
                            <a href="">Github</a>
                        </div>
                    </article>

                    <article>
                        <img src="" alt="Khalid Zyadeh">
                        <h3>Khalid Zyadeh</h3>
                        <h4>Software Developer</h4>
                        <p> Khalid Zyadeh.</p>
                        <div>
                            <a href="">linkedin</a>
                            <a href="">Github</a>
                        </div>
                    </article>

                    <article>
                        <img src="" alt="Samer Al Najjar">
                        <h3>Samer Al Najjar</h3>
                        <h4>Software Developer</h4>
                        <p>Samer Al Najjar</p>
                        <div>
                            <a href="">linkedin</a>
                            <a href="">Github</a>
                        </div>
                    </article>
                </section>
            </main>
        </body>

        </html>