<%- include('../layout/head')%>
    <%- include('../layout/navbar')%>

        <body>
            <header class="header">
                <div class="layout-container">
                    <h1>Contact Us</h1>
                </div>
            </header>

            <main>
                <section>
                    <div class="layout-container searchEventsBox">
                        <form action="">
                            <label for=""> Name:</label>
                            <input type="text" placeholder="Enter Your Name" name="name">
                            <label for="email"> Email: </label>
                            <input type="text" placeholder="Enter Your Email" name="email">
                            <label for="message"> message: </label>
                            <textarea name="message" id="message" cols="40" rows="15"></textarea>
                            <button> <a href="mailto:example@gmail.com"> Send</a> </button>
                        </form>
                    </div>
                </section>
            </main>
            <%- include('../layout/footer') %>
        </body>

        </html>