<nav class='layout-container'>
    <ul>
        <li> <a href="/">Home </a></li>
        <li><a href="/songs">Music </a></li>
        <li><a href="/events">Event</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>